<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
</head>

<body>

    <!-- ======= Header ======= -->
    <header>
            </header><!-- End Header -->

    
    @RenderBody()
    

    <footer>        
    </footer><!-- End Footer -->    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
