<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Herramienta definitiva para la gestión de la Administración Concursal</h1>
                <footer id="footer">
                    <div class="footer-newsletter">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                @*<h4>Join Our Newsletter</h4>*@
                                <p>¡ Suscríbete ahora para recibir las últimas actualizaciones !</p>
                                <form action="home/Suscriberse" method="post">
                                    <input type="email" name="email" style="width:75%"><input type="submit" value="Suscribirse">
                                </form>
                            </div>
                        </div>
                    </div>
                </footer>
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <img src="..." class="rounded me-2" alt="...">
                            <strong class="me-auto">Bootstrap</strong>
                            <small>11 mins ago</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            Hello, world! This is a toast message.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                <a href="Ticoncursal.pdf" class="btn-get-started scrollto" style="background:#343995">Descargar FLYER</a>
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative">
                    <img src="assets/img/hero-image.png" class="img-fluid" alt="">
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <p>
                        La Cátedra de Viabilidad Empresarial está inmersa en el desarrollo de una herramienta que permita un control 100% ágil y sencillo de los procesos concursales desde el inicio hasta la conclusión, permitiendo
                        un ahorro considerable del tiempo invertido gracias a la automatización de taréas.
                    </p>
                    <h3>Beneficios</h3>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">EFICIENTE</a></h4>
                        <p class="description">Nuestra tecnología permite automatizar tareas de la Administración Concursal ahorrando mucho tiempo.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">ÁGIL</a></h4>
                        <p class="description">Le ofrecerá una visión clara y global de todos los procesos abiertos y taréas pendientes.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="">INTEGRAL</a></h4>
                        <p class="description">Gestión total del concurso, taréas, email, notificaciones, todo desde un entorno 100% online a un clic de distancia.</p>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End About Section -->
